@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@300;400&family=Raleway:wght@300;400&family=Roboto:wght@300;400&family=Slabo+13px&family=Slabo+27px&family=Source+Sans+Pro:wght@600;700&family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap');/*########### CSS Resets ############*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:rgb(209, 234, 242);
    max-width: 1368px;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
p{
    font-size: 1.7rem;
}
section h1{
    text-align: center;
}
section h2{
    text-align: center;
    cursor: pointer;
}
section{
    margin-bottom: 30px;
}
textarea{
    resize: none;
}
label,input, textarea, button{
    display: block;
}
label {
    font-size: 2.5rem;
    display: block;
}
input, textarea{
    width: 100%;
    font-size: 2rem;
    padding: 8px;
    border-radius: 1rem;
    outline: none;
    border-style: none;
}
textarea{
    height: 200px;
}
input:focus{
    outline: none;
}
/*########### CSS utility classes ########*/
.flex{
    display: flex;
}
.container{
    margin-inline: 100px;
}

.headings:hover{
    text-decoration: underline;
}

/*########## Element Styling ############ */
.nav-bar{
    justify-content: space-between;
    height: 100px;
    /* border: 2px solid white; */
    align-items: center;
    
}
.nav-bar img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.menus{
    padding: 7rem;
}
.menus li a{
    padding: 20px;
    font-size: 2rem;
}
.menus li a:hover{
    text-decoration: underline;
    color: darkblue;
}

/*####### About Us styling ########*/

.About{
    gap: 60px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    flex-basis: auto;
}
.About p{
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.our-services h1{
    margin-top: 30px;
 }
 .about-img{
    /* border: 2px solid black; */
    display: block;
    flex-basis: auto;
 }
.about-img img{
    height: 420px;
    width: 570px;
    border-radius: 6px;
}
.description{
    /* border: 2px solid red; */
    flex-basis: auto;
}

/*###### Our services styling #########*/
.our-services img{
    height: 20rem;
    width: 37rem;
    border-radius: 1.5rem;
    transition: transform .5s ease-in;
}
.our-services img:hover{
    transform: scale(1.1);
}

/*######### Our Delicious Items ############*/
.imgs{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.our-delicious img{
    height: 20rem;
    width: 37rem;
    border-radius: 1.5rem;
    transition: transform .5s ease-in;

}
.our-delicious img:hover{
    transform: scale(1.1);
}



/*######### Contact Us ############*/
.Contact{
    /* border: 2px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 40%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
form label{
    font-size: 20px;
}
.btn{
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    border: none;
    background-color: rgb(149, 205, 245);
    color: black;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;

}
.btn:hover{
    background-color: rgb(108, 193, 224);
    font-weight: 900px;
}

footer{
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
@media screen and (max-width: 800px) {
    .About{
        flex-direction: column;
    }
    
}
footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}
footer h4{
    font-size: 2.5rem;
}
footer a{
    font-size: 1.6rem;
}
.link-column {
    flex-direction: column;
    gap: 20px;
}
.footer-container {
    align-items: flex-start;
    justify-content: space-between;

}
footer img{
    height: 80px;
    width: 80px;
}



.subfooter {
    /* background-color: #b9cde4; */
    padding: var(--padding-inline-section);
}
.subfooter-container {
    justify-content: center;
    gap: 30px;
}
.subfooter a{
    font-size: 1rem;
}
.subfooter i{
    font-size: larger;
}








